# Ignore typescript files
*.js
!jest.config.js
*.d.ts
node_modules/

# CDK asset staging directory
.cdk.staging
cdk.out

# Ignore user config files
.vscode/

# Ignore jsii files
.jsii
*.tsbuildinfo
dist/
